*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;

}
body{
     background: linear-gradient(120deg,rgb(238, 144, 196),rgb(74, 3, 88));
     color:white;
     font-family: Arial, Helvetica, sans-serif;
     min-height:100vh;

}
h1,form{
     height: 20vh;
     display: flex;
     justify-content: center;
     align-items: center;

}
h1{
     font-size: 40px;
}

form input,form button{
     padding: 10px;
     border:none;
     font-size:24px;
     background:white;
     outline: none;
}

form button{
     color:purple;
     background-color: white;
     cursor: pointer;
}

form button:hover{
     color:white;
     background:rgb(238, 144, 196) ;
}

.todo-container{
     display: flex;
     justify-content: center;
     align-items:center;
}

.todo-list{
     width:25%;
     list-style: none;
}

.todo{
     margin:10px;
     background-color: rgb(236, 192, 229);
     color: blueviolet;
     font-size: 24px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.todo-item{
     flex:1;
     margin: 0 8px;
}

.check-btn,.delete-btn{
     background-color: green;
     color:white;
     padding: 16px;
     border:none;
     outline: none;
     cursor: pointer;
}

.delete-btn{
     background-color:red;
}
.check-btn:hover{
     color:lightgreen
}
.delete-btn:hover{
     color:rgb(238, 126, 126);
}

.fa-check,.fa-trash{
     pointer-events: none;
}

.completed{
     text-decoration: line-through;
     opacity: 0.5;
}